In [24]:
import pandas as pd
import json
import os

In [30]:
# load books metadata
load_path = "../data/raw/SFGram-dataset-master/books/"

books = []

for f in os.listdir(load_path):
    if f.endswith("json"):
        with open(load_path + f) as file:
            book_data = json.load(file)

        # filter out magazines
        if not (
            book_data["title"].startswith("Galaxy")
            or book_data["title"].startswith("IF")
        ):
            # check if the fulltext actually exists in the data
            id = f[7:10]  # only need 4 digits because << 10k books
            book_fulltext_path = "../data/raw/SFGram-dataset-master/book-contents/"
            book_fulltext_path += f"book00{id}.txt"
            if os.path.isfile(book_fulltext_path):
                
                book = {
                    "id": id,  
                    "title": book_data["title"],
                    "author": book_data["author_name"],
                    "year": book_data["year"],
                }

                books.append(book)

In [27]:
books

[]

In [31]:
df = pd.DataFrame(books)
df = df.sort_values(by="id")
# df.set_index('id', inplace=True)
df

      id                  title                author  year
132  001       The Time Machine           H. G. Wells  1895
165  002  The War of the Worlds           H. G. Wells  1898
360  003     A Princess of Mars  Edgar Rice Burroughs  1912
633  004                  Youth          Isaac Asimov  1952
610  005            2 B R 0 2 B         Kurt Vonnegut  1962
..   ...                    ...                   ...   ...
867  966             The Plague          Teddy Keller  1961
870  967           Second Sight         Alan E Nourse  1956
662  968         Zeritsky's Law          Ann Griffith  1951
560  969           Other Worlds     Garrett P Serviss  1901
534  970       License to Steal          Louis Newman  1959

[967 rows x 4 columns]

In [32]:
save_path = "../data/interim/books/books_metadata.txt"
df.to_csv(save_path, index=False)